{% liquid
case trmnl.plugin_settings.custom_fields_values.date_format
when "2025-01-31"
assign date_format = "%Y-%m-%d"
when "31/01/2025"
assign date_format = "%d/%m/%Y"
when "01/31/2025"
assign date_format = "%m/%d/%Y"
else
assign date_format = "%b %e"
endcase

case trmnl.plugin_settings.custom_fields_values.time_format
when "12_hours"
assign time_format = "%l:%M %p"
when "24_hours_(no_leading_zeroes_08:45)"
assign time_format = "%k:%M"
else
assign time_format = "%H:%M"
endcase

case trmnl.plugin_settings.custom_fields_values.show_times
when "no"
assign show_times = false
else
assign show_times = true
endcase

case trmnl.plugin_settings.custom_fields_values.show_calendar_names
when "no"
assign show_calendar_names = false
else
assign show_calendar_names = true
endcase
%}

{% unless trmnl.plugin_settings.custom_fields_values.date_day_name == "no" %}
{% capture date_format %}%a, {{ date_format }}{% endcapture %}
{% endunless %}

{% assign today_date = 'now' | date: '%Y-%m-%d' %}
{% assign tomorrow_timestamp = 'now' | date: '%s' | plus: 86400 %}
{% assign tomorrow_date = tomorrow_timestamp | date: '%Y-%m-%d' %}
{% assign current_day = "" %}
{% assign day_count = 0 %}

<div class="view view--half_horizontal">
  <div class="layout layout--top" style="justify-content: flex-start; align-items: flex-start; padding-bottom: 0px">
    <div style="display: flex; height: 100%; width: 100%; flex-direction: column; flex-wrap: wrap; gap: var(--list-gap-small); align-content: flex-start;">
        {% for event in events %}
          {% assign event_date = event.s | date: '%Y-%m-%d' %}

          {% comment %} Show day header when date changes (limit to 3 days) {% endcomment %}
          {% if event_date != current_day and day_count < 3 %}
            {% assign current_day = event_date %}
            {% assign day_count = day_count | plus: 1 %}
            <span class="label">
              {% if event_date == today_date %}
                {{ 'today' | l_word: trmnl.user.locale | capitalize }}
              {% elsif event_date == tomorrow_date %}
                {{ 'tomorrow' | l_word: trmnl.user.locale | capitalize }}
              {% else %}
                {{ event.s | date: date_format }}
              {% endif %}
            </span>
          {% endif %}

          {% comment %} Only show events from allowed days {% endcomment %}
          {% if event_date == current_day %}
            <div class="item">
              <div class="meta">
                {% if event.a == true %}
                <span class="index">#</span>
                {% else %}
                <span class="index">{{ forloop.index }}</span>
                {% endif %}
              </div>
              <div class="content">
                <span class="title title--small" data-clamp="{{ trmnl.plugin_settings.custom_fields_values.title_lines }}">{{ event.t }}</span>
                {% if event.a != true %}
                <div class="flex gap--xsmall">
                  {% if show_times %}
                  <span class="label label--small label--underline">{{ event.s | l_date: time_format, trmnl.user.locale }} - {{ event.e | l_date: time_format, trmnl.user.locale }}</span>
                  {% endif %}
                  {% if show_calendar_names and event.c != empty %}
                  <span class="label label--small">{{ event.c }}</span>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {% comment %} Show empty state if no events {% endcomment %}
        {% if events.size == 0 %}
        <span class="label">{{ 'today' | l_word: trmnl.user.locale | capitalize }}</span>
        <div class="flex flex--col h--28 gap--space-between">
          <span class="title">All Clear</span>
          <span class="description">No upcoming events!</span>
        </div>
        {% endif %}
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="https://img.icons8.com/ios/30/calendar--v1.png">
    <span class="title">Upcoming Events</span>
    {% case trmnl.plugin_settings.custom_fields_values.right_label %}
    {% when "attribution" %}
    <span class="instance">Shortcuts Calendar</span>
    {% when "your_name" %}
    <span class="instance">{{ trmnl.user.name }}</span>
    {% when "instance_name" %}
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
    {% endcase %}
  </div>
</div>
